.EducationForm {
  &__form {
    display: flex;
    flex-direction: column;

    >div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.3rem;
      }
    }

    button {
      width: 5rem;
      height: 2rem;
      margin: auto;
      margin-top: 2rem;
    }
  }
}
