.ExperienceForm {
  &__form {
    display: flex;
    flex-direction: column;

    >div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      >div {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        input {
          width: 70%;
          max-width: 23rem;
        }
      }
    }

    button {
      width: 5rem;
      height: 2rem;
      margin: auto;
      margin-top: 2rem;
    }
  }
}
