.HeaderForm {
  h1 {
    margin: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    >div {
      display: flex;
      gap: 0.3rem;
      flex-direction: column;
    }

    &__image-initials {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center;

      >div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .hidden-file-upload {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}
