.HomePage {
  background-color: var(--white);
  display: flex;
  height: 100%;

  &__sidebar {
    width: 15rem;
    height: 100%;
    background-color: var(--dark-purple);
    color: var(--blueish-white);
    text-align: center;

    &__progress-bar {
      &__entry {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        text-transform: uppercase;
        font-size: 0.9rem;

        &:hover {
          cursor: pointer;
        }

        &:before {
          position: absolute;
          left: 25%;
          top: 40%;
          transform: translate(-50%, -35%);
          content: attr(data-text);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.3rem;
          height: 1.3rem;
          border-radius: 50%;
          border: 1px solid var(--blueish-white);
        }

        &--active {
          &:before {
            background-color: var(--blueish-white);
            color: var(--dark-purple);
          }
        }

        &:after {
          position: absolute;
          left: 24.7%;
          top: 85%;
          content: "";
          width: 2px;
          height: 1.55rem;
          background-color: var(--blueish-white);
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__forms {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    gap: 1rem;
    width: calc(100% - 25rem);
    height: 100%;

    .HeaderForm,
    .ContactsForm,
    .EducationSummary,
    .ExperienceSummary,
    .SkillsForm,
    .HobbiesForm,
    .LanguagesForm,
    .WebsitesForm {
      margin-top: 3rem;
      padding: 0 1rem;

      h1 {
        text-align: center;
        font-size: 2.5rem;
      }
    }

    form {
      max-width: 50rem;
      margin: auto;
    }

    input {
      background-color: var(--white);
      border: 1px solid var(--dark-purple);
      border-radius: 2px;
      padding: 0 0.3rem;
      color: var(--dark-purple);
      height: 2rem;
      font-size: 1.3rem;

      &:focus {
        outline: none;
      }
    }

    select,
    option,
    button {
      background-color: var(--white);
      border: 1px solid var(--dark-purple);
      color: var(--dark-purple);
      border-radius: 0.3rem;
      text-transform: uppercase;
      padding: 0.1rem;
      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      min-width: 3rem;
      min-height: 1.5rem;
    }

    select,
    option {
      min-width: 2rem;
      min-height: 1.3rem;

      &:focus {
        outline: none;
      }
    }

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: var(--white);
      width: 2rem;
      height: 2rem;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &:checked {
        &:after {
          content: "✓";
          font-size: 1.4rem;
          color: var(--pastel-ligth-blue);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    label {
      font-size: 1.3rem;
      text-transform: capitalize;
      letter-spacing: 1px;
    }

    h1 {
      margin: 0;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }

  &__buttons-bar {
    width: 10rem;
    height: 100%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: start;

    &__next {
      margin-top: 2rem;
      width: 5rem;
      background-color: var(--dark-purple);
      border-radius: 3px;
      border: none;
      padding: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        background-color: var(--blue);
        transition: all 0.2s ease-in-out;
      }
    }

    &__submit {
      margin-top: 2rem;
      width: 7rem;
      height: 2rem;
      background-color: var(--copper);
      border: none;
      border-radius: 2px;
      color: var(--white);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        background-color: var(--light-copper);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
